<h1>Moja strona</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Zawody TRI</h5>
        <p class="card-text">
          Zawody rekomendowane przez mnie w których brałem udział i mogę polecić. 
          Opis samej imprezy, okolicy, miejsc wartych odwiedzenia podczas pobytu.
        </p>
        <a href="#" class="btn btn-primary">Czytaj więcej...</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Testy sprzętu</h5>
        <p class="card-text">
          Opinie na temat wyposaźenia w kaźdej z trzech dyscypiln sportowych. Pływanie, rower i bieganie. Opis sprzętu i w czym warto go wykorzystać.
        </p>
        <a href="#" class="btn btn-primary">Czytaj więcej...</a>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div>
  <carousel>
    <slide>
      <img
        src="https://cdn.shopify.com/s/files/1/0039/0434/0032/articles/Swim_Stroke_2000x.jpg?v=1591089525"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="https://media.self.com/photos/57d8adac50778cef321a535a/master/pass/road-biking-guide-01-fiss616.jpg"
        alt="second slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide>
      <img
        src="https://compote.slate.com/images/04540a80-1219-4cd9-8390-5eaf3f05ae44.jpeg?width=780&height=520&rect=1560x1040&offset=0x0"
        alt="third slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
</div>
