<br>
<h3 style="text-align: center;">Nasza ekipa</h3>
<div class="card mb-auto" style="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="../../assets/20190908Malbork5489_str1219.jpg"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Oskar Jot</h5>
        <p class="card-text">Triathlonista amator.</p>
        <a class="btn btn-outline-primary" [routerLink]="['/Omnie', 'Oskar Jot']" role="button">Czytaj więcej</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 100%">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://images.squarespace-cdn.com/content/v1/5dd1dbe652b7125e8bb44cef/1575312535220-GDC9DUG5J53QD026LNZF/2018_0425+TalkSpace_+263_Grey+Headshot.jpg?format=750w"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div id="Stefan" class="card-body">
              <h5 class="card-title">Stefan</h5>
              <p class="card-text">
                Najlepszy trener pływania kraulem w regionie kujawsko -
                pomorskim.
              </p>
              <a class="btn btn-outline-primary" [routerLink]="['/Omnie', 'Stefan']" role="button">Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Zenon2014.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div id="Zenon" class="card-body">
              <h5 class="card-title">Zenon</h5>
              <p class="card-text">
                Bikefitter i człowiek od ustawienia pozycji areo na rowerze
                timetrial.
              </p>
              <a class="btn btn-outline-primary" [routerLink]="['/Omnie', 'Zenon']" role="button">Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://ocdn.eu/pulscms-transforms/1/s67k9kpTURBXy8zOWVhOGRjMGU3NDNmYTIwZjM5NzRkNTVjZjNmY2EzYi5qcGeWlQLNAxQAwsOVAgDNAvjCw5QGzP_M_8z_lAbM_8z_zP-UBsz_zP_M_5QGzP_M_8z_gaEwBQ"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div id="Juras" class="card-body">
              <h5 class="card-title">Juras</h5>
              <p class="card-text">
                Trener techniki biegowej i przygotowania motorycznego.
              </p>
              <a class="btn btn-outline-primary" [routerLink]="['/Omnie', 'Juras']" role="button">Czytaj więcej</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
