<h1>O mnie Page</h1>
<p>Autor: OskarJot</p>
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../src/assets/oskarfoto.jpg" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Oskar Jot</h5>
        <p class="card-text">
          Triathlonista amator.
        </p>
      </div>
    </div>
  </div>
</div>
<h1>Nasz team</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://images.squarespace-cdn.com/content/v1/5dd1dbe652b7125e8bb44cef/1575312535220-GDC9DUG5J53QD026LNZF/2018_0425+TalkSpace_+263_Grey+Headshot.jpg?format=750w" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Stefan</h5>
              <p class="card-text">
                Najlepszy trener pływania kraulem w regionie kujawsko - pomorskim.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Zenon2014.jpg" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Zenon</h5>
              <p class="card-text">
                Bikefitter i człowiek od ustawienia pozycji areo na rowerze timetrial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://ocdn.eu/pulscms-transforms/1/s67k9kpTURBXy8zOWVhOGRjMGU3NDNmYTIwZjM5NzRkNTVjZjNmY2EzYi5qcGeWlQLNAxQAwsOVAgDNAvjCw5QGzP_M_8z_lAbM_8z_zP-UBsz_zP_M_5QGzP_M_8z_gaEwBQ" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Juras</h5>
              <p class="card-text">
                Trener techniki biegowej i przygotowania motorycznego.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
