<div class="container">
  <div class="row">
    <div
      class="col"
      style="max-width: 150px; background-color: rgba(58, 164, 226, 0.329)"
    >
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mojastrona">Moja Strona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Omnie">Nasz Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <img
        src="https://us.123rf.com/450wm/karpenkoilia/karpenkoilia1612/karpenkoilia161200052/69053698-line-logo-triathlon-figuren-triathleten-auf-wei%C3%9Fem-hintergrund-schwimmen-radfahren-und-laufen-symbol.jpg?ver=6"
        class="img-fluid"
        style="display: block; margin-left: auto; margin-right: auto"
        alt="..."
      />
      <div style="text-align: center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Start</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="mojastrona">Home Page</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="Omnie">Nasz Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="kontakt">Kontakt</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- <div
          class="btn-group"
          dropdown
          style="margin-left: auto; margin-right: auto"
        >
          <button
            id="button-animated"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated"
            style="text-align: center"
          >
            Co u mnie znajdziesz <span class="caret"></span>
          </button>
          <ul
            id="dropdown-animated"
            *dropdownMenu
            class="dropdown-menu"
            style="text-align: center"
            role="menu"
            aria-labelledby="button-animated"
          >
            <li role="menuitem">
              <a class="dropdown-item" style="list-style-type: none" href="#"
                >Info co na stronie</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="list-style-type: none" href="#"
                >Nasza ekipa</a
              >
            </li>
            <li role="menuitem">
              <a class="dropdown-item" style="list-style-type: none" href="#"
                >Kontakt do nas</a
              >
            </li>
          </ul>
        </div> Chwilowo ukryte ze wzgldu na testy navbar-->
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
