<div class="container">
  <div class="row">
    <div class="col" style="max-width: 100px; background-color: yellow;">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Start</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mojastrona">Moja Strona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Omnie">O mnie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="kontakt">Kontakt</a>
        </li>
      </ul>    </div>
    <div class="col">
      <h1>Zapraszam do siebie</h1>
      <router-outlet></router-outlet>
    </div>
</div>

